.button {
  --l: 70%;
  --c: 0.15;
  --h: 262;

  &.primary {
    --l: 70%;
    --c: 0.15;
    --h: 262;
  }

  &.secondary {
    --l: 78%;
    --c: 0.15;
    --h: 65;
  }

  background-color: oklch(var(--l) var(--c) var(--h));
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  border: 0;
  min-width: 150px;

  &:hover:not([disabled]) {
    background-color: oklch(calc(var(--l) - 5%) var(--c) var(--h));
  }

  &:active:not([disabled]) {
    background-color: oklch(calc(var(--l) - 15%) var(--c) var(--h));
  }

  &[disabled] {
    background-color: oklch(var(--l) 0.05 var(--h));
  }
}
