.button {
  --bgcolor: var(--blue);

  &.primary {
    --bgcolor: var(--blue);
  }

  &.secondary {
    --bgcolor: var(--green);
  }

  background-color: oklch(from var(--bgcolor) l c h);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  border: 0;
  min-width: 150px;

  &:hover:not([disabled]) {
    background-color: oklch(from var(--bgcolor) calc(l - 0.05) c h);
  }

  &:active:not([disabled]) {
    background-color: oklch(from var(--bgcolor) calc(l - 0.1) c h);
  }

  &[disabled] {
    color: var(--grey-1);
    background-color: var(--grey-4);
  }
}
